# Пакет Pandas
## Манипуляции над данными класса DataFrame, Series, Index

In [1]:
import numpy as np
import pandas as pd

### Объединение наборов данных: конкатенация и добавление в конец

In [2]:
def make_df(cols, ind):
    """Быстро создаем объект DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# Экземпляр DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [3]:
# NumPy
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

Сигнатура функции *pd.concat* в библиотеке Pandas

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,  
        keys=None, levels=None, names=None,   
        verify_integrity=False, copy=True)  
        
Простая конкатенация:

In [6]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [12]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1); print(df2); print("\n", pd.concat([df1, df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4

     A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [15]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
print(df3); print(df4); print("\n", pd.concat([df3, df4], axis=1))

    A   B
0  A0  B0
1  A1  B1
    C   D
0  C0  D0
1  C1  D1

     A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

#### Дублирование индексов

Важное различие между функциями np.concatenate() и pd.concat() состоит
в том, что конкатенация из библиотеки Pandas **сохраняет индексы**, даже если
в результате некоторые индексы будут дублироваться.

In [16]:
x = make_df('AB', [0, 1])
y = make_df('AB', [0, 1])
print(x); print(y); print("\n", pd.concat([x, y]))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A0  B0
1  A1  B1

     A   B
0  A0  B0
1  A1  B1
0  A0  B0
1  A1  B1

##### Перехват повторов как ошибки.

In [17]:
try:
    pd.concat([x, y], verify_integrity=True)
except ValueError as e:
    print("ValueError:", e)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

##### Игнорирование индекса.

In [18]:
print(x); print(y); print("\n", pd.concat([x, y], ignore_index=True))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A0  B0
1  A1  B1

     A   B
0  A0  B0
1  A1  B1
2  A0  B0
3  A1  B1

##### Добавление ключей мультииндекса.

In [25]:
print(x); print(y); print("\n", pd.concat([x, y], keys=['x', 'y']))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A0  B0
1  A1  B1

       A   B
x 0  A0  B0
  1  A1  B1
y 0  A0  B0
  1  A1  B1

### Конкатенация с использованием соединений

In [26]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
print(df5); print(df6); print("\n", pd.concat([df5, df6]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4

      A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [29]:
print(df5); print(df6)
print("\n", pd.concat([df5, df6], join='inner'))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4

     B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

#### Метод append()
В отличие от методов append() и extend() списков языка
Python, метод append() в библиотеке Pandas не изменяет исходный объект.  
Вместо этого он создает новый объект с объединенными данными, что делает этот метод
не слишком эффективным, поскольку означает создание нового индекса и буфера
данных.

In [32]:
# вместо вызова pd.concat([df1, df2])
print(df1); print(df2); print("\n", df1.append(df2))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4

     A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

### Объединение наборов данных: слияние и соединение